{% extends 'base.html' %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1 class="text-secondary">{{familiarDifunto.title}}</h1>
                {{error}}
                <div class="mt-4">
                    <form action="{% url 'update_familiarDifunto' familiarDifunto.id %}" method="POST" >
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-primary">
                            Actualizar
                        </button>
                    </form>
                    <div class="mt-2">
                        <form action="{% url 'delete_familiarDifunto' familiarDifunto.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-danger">
                                Eliminar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}