{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5">Lista familiares Difunto</h1>
            <ul class="list-group">
                {% for familiarDifunto in familiaresDifunto %}
                <a href="#" class="list-group-item">
                    <header class="d-flex justify-content-between">
                        <!-- justify-content-between es para dejar el titulo al lado -->
                        <h1 class="fw-bold">{{familiarDifunto.nombresCompletos}}</h1>
                        <p>{{familiarDifunto.user.username}}</p>
                    </header>
                    <p>{{familiarDifunto.telefono}}</p>
                    <p>{{familiarDifunto.telefonoAuxiliar}}</p>
                    <p>{{familiarDifunto.direccion}}</p>
                    <p>{{familiarDifunto.ciudad}}</p>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>


{% endblock %}