{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque temporibus ab ipsum maiores. Nihil aliquam,
            tempora
            culpa odio, commodi animi totam quas ex nulla quaerat quia? Neque voluptate voluptates consequatur accusamus
            perferendis quam obcaecati, veritatis, praesentium earum, corrupti nostrum at sequi. Dolores molestias
            voluptatum
            facere repellendus, commodi sapiente ab. Labore odit vero quo animi harum temporibus iure velit numquam
            reprehenderit nam dicta exercitationem laboriosam ad voluptatem similique fugiat ipsam rem sint aliquid
            dolorem,
            officiis nesciunt aperiam iusto? Quam odit a dicta laborum cum veniam nemo. Perspiciatis, quam consequuntur
            ducimus
            laudantium reprehenderit hic! Magni temporibus a ex enim assumenda. Non, a!</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}